[submodule "assets"]
	path = assets
	url = https://github.com/msmshazan/nprassets.git
[submodule "tools"]
	path = tools
	url = https://github.com/msmshazan/nprtools.git
[submodule "deps"]
	path = deps
	url = https://github.com/msmshazan/nprdeps.git
